
<div class="row">
  <div class="large-6 columns">
    <%= form_for [@course, @review] do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => 'required' %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, :required => 'required' %>
  </div>
<div class="field">
  <%= f.label :rating %>
  <%= f.number_field :rating, :required => 'required', in: 1..5, step: 1 %>
</div>
<div class="field">
  <input type="hidden" name="review[course_id]" value="<%= @course.id %>" />
</div>
  <div class="actions">
    <%= f.submit :class => 'button' %>
  </div>
  <%= link_to 'Back', @course , :class => 'button' %>
<% end %>
  </div>

</div>



