<div class="row">
  <div class="large-10 columns">
    <h1><%= @course.course_name %></h1>
  <p>Rating</p>
      <div id="<%= @course.id %>_star">
        <script>
          $('#<%= @course.id %>_star').raty({
              readOnly: true,
                  score: <%= @course.average_rating %>,
              path: '/assets'
            });
       </script>
      </div>
      <p><%= @course.course_desc %></p>
      <h2>Reviews</h2>
      <section>
        <% if @course.reviews.exists? %>
          <% @course.reviews.each do |review| %>
            <p>Name: <%= review.name %></p> <p>Contact: <%= review.email %></p>
            <p><%= review.body %> </p>
          <% end %>
        <% end %>
      </section>
       <%= link_to "Write Review", new_course_review_path(@course), :class => 'button' %>
       <%= link_to "Back", root_path, :class => 'button' %>
    </li>
  </ul>
  </div>
</div>

